# xterm
xterm*termName:		xterm-256color
xterm*faceName:		DejaVu Sans Mono:size=12
xterm*foreground:	#dedede
xterm*background:	#121212
xterm*cursorColor:	#cdcdcd
xterm*scollBar:		false
xterm*antialias:	true
xterm*locale:		true
